html, body {
  width: 100%;
  height: 100%;
  position: relative;
  margin: 0;
  padding: 0;
}
.slide-column {
  height: 500px;
  width: calc(33% - 40px);
  margin:0 20px;
  position: absolute;
  top: 0;
  left: -33%;
  background-color: red;
}
.slide-first {
  background-color: green !important;
}
.slide-last, .slide-first {
  display: none;
}
.slide-control {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: blue;;
  width: 50px;
  height: 50px;
}
#slide-right {
  right: 0;
}
#slide-left {
  left: 0;
}
.slide-container {
  position: relative;
  padding: 0;
}
.slide-row {
  width: calc(100% - 100px);
  display: block;
  margin: 0 auto;
  height: 500px;
  position: relative;
  overflow: hidden;
}
/* tablets */
@media (max-width: 991px) {
  .slide-column {
    width: calc(50% - 40px);
  }
}
/* phones */
@media (max-width: 575px) {
  .slide-column {
    width: calc(100% - 40px);
  }
}
